# Input files
obs_flow: "../river-dl/data_DRB/obs_flow_full"
obs_temp: "../river-dl/data_DRB/obs_temp_full"
sntemp_file: "../river-dl/data_DRB/uncal_sntemp_input_output"
dist_matrix: "../river-dl/data_DRB/distance_matrix.npz"



modelName: "MONTAGUE_drb1.04_mf6_250"
flowModelName: "drb1.04"
modelDir: "/home/jbarclay/GW_Models/DRB/MONTAGUE/model/MONTAGUE_drb1.04_mf6_250_SY05"
rasterPath: '/home/jbarclay/GW_Models/DRB/MONTAGUE/model/MONTAGUE_drb1.04_mf6_250_SY05/MONTAGUE_250_idomain.tif'

outDir: "out_MONTAGUE_drb1.04_mf6_250_GW"
code_dir: "../river-dl/river_dl"

x_vars: ["seg_rain", "seg_tave_air", "seginc_swrad", "seg_length", "seginc_potet", "seg_slope", "seg_humid", "seg_elev"]
gw_vars: ['Ar_obs','delPhi_obs','air_phi','air_amp','sin_wt','cos_wt']
primary_variable: "temp"

lambdas: [1,1]

#lamb2 and lamb3 are hyper params for weighting the rmses of Ar (amplitude ratio) and deltaPhi (phase difference)
lamb2: 0
lamb3: 0

#anything other than GW (case insensitive) will use the standard loss function (rmse of temp & rmse of flow)
loss_type: "GW"


train_start_date:
  - '1985-10-01'
  - '2016-10-01'
train_end_date:
  - '2006-09-30'
  - '2020-09-30'
val_start_date: '2006-10-01'
val_end_date: '2016-09-30'
test_start_date:
  - '1980-10-01'
  - '2020-10-01'
test_end_date:
  - '1985-09-30'
  - '2021-09-30'

pt_epochs: 200
ft_epochs: 100
hidden_size: 20
